*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 180px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    background: url("bg-texture.png"), #1f1f38;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid black;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}


.cell.x::before,
.cell.x::after {
    background-color: #00FFDD;
    border-radius: 50%;
}

.cell.circle::before {
    background-color: #00FFDD;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: #E8FFC2;
    border-radius: 50%;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * .18);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) *.8);
    height: calc(var(--mark-size) *.8);
    background-color: #1f1f38;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: #1d2b3a;
    color: #00FFDD;
    border: 2px solid #00FFDD;
    text-transform: uppercase;
    border-radius: 100px;
    padding: .5rem .5em;
    cursor: pointer;
}

.winning-message button:hover {
    box-shadow: 0 5px 20px 0 #00dfc4 inset, 0 5px 20px 0 #00dfc4,
                0 5px 20px 0 #00dfc4 inset, 0 5px 20px 0 #00dfc4;
}

.winning-message.show {
    display: flex;
}


@keyframes switch-color {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.magicColor {
    -webkit-text-fill-color: transparent;
    animation: switch-color 3s linear infinite;
    background: linear-gradient(to right, #1DB9C3, #7027A0, #C32BAD, #F56FAD, #1DB9C3);
    background-clip: border-box;
    -webkit-background-clip: text;
    background-size: 200%;
}

